body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("eal.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    margin: auto;
    padding: 60px;
    position: relative; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 22px;
    margin-top: 30px;
}

.back-btn {
    background: #457B79;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.form-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}
.image-upload {
    width: 10%;
    background: white;
    padding: 90px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image-upload .add-btn {
    margin-bottom: 10px;
    background-color: #457B79;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 15px;
    cursor: pointer;
}

.image-box img {
    width: 60px;
    opacity: 0.8;
}
.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.form-group {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
    resize: none;
}
.right-plus {
    width: 80px;                 
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    font-size: 70px;
    color: black;
    cursor: pointer;
    user-select: none;
    margin-top: 100px;
    margin-left: 60px;
}
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 400px;
    margin-left: 1500px;
}

.cancel-btn,
.save-btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #457B79;
}

