@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('eal.jpg') center/cover no-repeat; /* replace with your background image */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: rgba(160, 210, 210, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 40px;
  width: 650px;
  height: 600px;
  text-align: center;

}

.logo {
  width: 450px;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 16px;
  font-size:16px;
  color: #333;
  font-weight: 500;
}

input, select {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #e9e9e9;
  font-size: 16px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

button {
  width: 100%;
  background-color: #1a2238;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}


button:hover {
  background-color: #0f172a;
}