*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('eal.jpg'); 
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.3; 
    z-index: -1;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.left{
    width: 45%;
}

.left h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
    line-height: 22px;
}

label{
    font-size: 17px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.signup-btn{
    width: 100%;
    background: #233044;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.or{
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: #666;
}

.google-btn,
.fb-btn{
    display: flex;
    width: 100%;
    padding: 14px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-family: Inconslata;
}

.icon{
    width: 20px;
}

.login-text{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 36%;
}

.login-text a{
    color: #3b4fff;
}

/* RIGHT SIDE */
.right{
    width: 35%;
    display: flex;
    justify-content: center;
}

.product-img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
