.floating-img-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.floating-img-btn img {
    width: 100px;      /* adjust size */
    height: 100px;
    cursor: pointer;
    border-radius: 50%; /* optional: makes it circular */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.floating-img-btn img:hover {
    transform: scale(1.1);
}
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 390px;
    height: 76.5%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-content iframe {
    flex: 1;
    border-radius: 10px;
}

.modal-content .close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: #90C1BE;
    font-weight: 900; /* makes it extra bold */
}
