.adding-sickness,
.adding-sickness * {
  box-sizing: border-box;
}
.adding-sickness {
  background: #ffffff;
  height: 784px;
  position: relative;
  overflow: hidden;
}
.eal-1-1 {
  width: 1870px;
  height: 1052px;
  position: absolute;
  left: -649px;
  top: -213px;
  object-fit: cover;
  aspect-ratio: 1870/1052;
}
.add-sickness {
  color: #333333;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 67px;
  top: 86px;
  width: 306px;
  height: 23px;
}
.line-7 {
  width: 969px;
  height: 0px;
  position: absolute;
  left: 52px;
  top: 118.13px;
  transform: translate(0px, -1px);
  overflow: visible;
}
.image {
  position: absolute;
  inset: 0;
}
.rectangle-10 {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 233.62px;
  height: 174.89px;
  position: absolute;
  left: 737.77px;
  top: 151.35px;
  box-shadow: 4px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.add-imageb {
  width: 71.29px;
  height: 19.1px;
  position: static;
}
.rectangle-40 {
  background: #457b79;
  border-radius: 20px;
  width: 71.27px;
  height: 18.89px;
  position: absolute;
  left: 886.57px;
  top: 162.55px;
}
.add-image {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  left: 895.92px;
  top: 164.65px;
  width: 61.95px;
  height: 17px;
}
.image-22 {
  width: 90.77px;
  height: 90.77px;
  position: absolute;
  left: 808.84px;
  top: 193.41px;
  object-fit: cover;
  aspect-ratio: 1;
}
.backbutton {
  position: absolute;
  inset: 0;
}
.group-13 {
  width: 89.86px;
  height: 27.98px;
  position: static;
}
.rectangle-402 {
  background: #457b79;
  border-radius: 20px;
  width: 89.86px;
  height: 27.98px;
  position: absolute;
  left: 914.61px;
  top: 80px;
}
.back {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 943px;
  top: 86px;
  width: 61px;
  height: 16px;
}
.title {
  position: absolute;
  inset: 0;
}
.rectangle-102 {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 579.39px;
  height: 55.06px;
  position: absolute;
  left: 98px;
  top: 151.35px;
  box-shadow: 4px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.title2 {
  color: #000000;
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 102.26px;
  top: 162.08px;
  width: 68.87px;
  height: 12.75px;
}
.description {
  position: absolute;
  inset: 0;
}
.rectangle-103 {
  background: #fffafa;
  border-radius: 12px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 579.29px;
  height: 85.61px;
  position: absolute;
  left: 98px;
  top: 227.25px;
  box-shadow: 4px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.description2 {
  color: #000000;
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 116.09px;
  top: 243.47px;
  width: 97px;
  height: 17.83px;
}
.group-25 {
  position: absolute;
  inset: 0;
}
.group-132 {
  width: 137.41px;
  height: 37.51px;
  position: static;
}
.rectangle-403 {
  background: #457b79;
  border-radius: 20px;
  width: 137.41px;
  height: 37.51px;
  position: absolute;
  left: 823.62px;
  top: 682.41px;
}
.save {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 864px;
  top: 688px;
  width: 55px;
  height: 22px;
}
.group-26 {
  position: absolute;
  inset: 0;
}
.rectangle-404 {
  background: #457b79;
  border-radius: 20px;
  width: 137.41px;
  height: 37.51px;
  position: absolute;
  left: 653.88px;
  top: 682.41px;
}
.cancel {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 685px;
  top: 689px;
  width: 96px;
  height: 21px;
}
