body{
    background-color: white;
}
/*body body*/
.body {
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 1;
      padding: 20px;
      margin-right: 50px;
      background-color: white;
      margin-bottom: 0;
}
.title h1{
margin-top:0px;
text-align: center;
font-family:'Poppins';
    background: linear-gradient(to right, #00BFA6, #00796B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title p{
    text-align: center;
    font-family:'Poppins';
font-weight: 500;
color:#666666 ;

}
.boxes {
    display: grid;
    grid-template-columns: repeat(3, 400px); /* 3 columns */
    gap: 20px; /* space between boxes */
    margin-top: 40px;
    margin-left: 50px;
    justify-content: center;
}

.box {
    background-color: #F0FAFA; /* change to any color you want */
    color: rgb(3, 3, 3);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
.box img{
    height: 150px;
    width: 150px;
}
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.tag p{
        text-align: center;
    font-family:'Poppins';
font-weight: 500;
color:#666666 ;
font-size: 11px;
margin-top: 20px;
margin-left: 80px;
}