body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("eal.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    margin: auto;
    padding: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 22px;
    margin-top: -5px;
}

.back-btn {
    background: #457B79;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}
.form-column {
    width: 200%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
    resize: none;
}

.image-upload {
    width: 45%;
    background: white;
    padding: 90px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-upload .add-btn {
    margin-bottom: 10px;
    background-color:#457B79;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 15px;
    cursor: pointer;
}
.image-box img {
    width: 60px;
    opacity: 0.8;
}
.form-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.form-group.half {
    flex: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.add-input {
    display: flex;
    gap: 10px;
    align-items: center;
}
.add-input input {
    flex: 1;
}
.plus {
    font-size: 25px;
    cursor: pointer;
}
.symptoms-causes {
    display: flex;
    gap: 20px;           
    margin-top: 30px;    
}
.symptoms-causes .form-group {
    flex: 1;  
    margin-top: 30px;             
}
.right-column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: 100px 
}
.prevention-care {
    margin-top: 50px;
    width: 290px; 
    padding: 70px 15px;
}
.prevention-care label{
    margin-top: -45px;
}
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    margin-left: 70px;
}
.cancel-btn,
.save-btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #457B79;
}


