* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;             
    justify-content: center;
    align-items: center;
    height: 100vh;              
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('eal.jpg');
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.3;
    z-index: -1;
}

.container {
    background: rgba(157, 205, 205, 0.60);
    width: 600px;
    padding: 40px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(3px);
}


.logo-img {
    width: 400px;   
    margin-bottom: 15px;
}

h2 {
    margin-top: -35px;
    font-size: 22px;
    margin-bottom: 30px;
}

label {
    margin-top: -20px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    font-size: 17px;
    background: #1f2c38;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.9;
}

.links {
    margin-top: 15px;
    font-size: 14px;
}

.links a {
    color: #000;
    font-weight: 500;
}
